*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
.boxes{
	margin: 50px auto;
	width:960px;
}
.box1{
	float: left;
	position: relative;
	width:300px;
	border-style: solid;
	border-width: thin;
}
.box1:nth-child(1){
	margin-right: 30px;
}
.box1:nth-child(2){
	margin-right: 30px;
}

.img1{
	width: 280px;
	height: 140px;
	margin: 10px;
	background-image: url(img/flow01.png);
	background-size: cover;
    background-position: center;
}
.img2{
	width: 280px;
	height: 140px;
	margin:10px;
	background-image: url(img/flow02.png);
	background-size: cover;
    background-position: center;
}
.img3{
	width: 280px;
	height: 140px;
	margin:10px;
	background-image: url(img/flow03.png);
	background-size: cover;
    background-position: center;
}
.text{
	position: absolute;
	top:0;
	left:0;
	background-color: orange;
	color:white;
}
h3{
	padding: 10px;
}
p{
	padding: 10px;
}
@media screen and (max-width: 768px){
	.boxes{
		width: 90%;
		margin-left: 5%;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.box1{
		width: 90%;
		margin-left: 5%;
		margin-bottom: 20px;
		float: none;
	}
	.img1{
		width: 90%;
	}
	.img2{
		width: 90%;
	}
	.img3{
		width: 90%;
	}
}